:root {
  --color-primary: #302d2d;
  --color-light: #fff;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-family: "Roboto Flex", sans-serif;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font: inherit;
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button {
  padding: 3 5px;

  @media (min-width: 450px) {
    width: 100px;
  }
}

.button--outline {
  margin: 0 5px 0 5px;
  border-radius: 5px;
  border: 0.2px solid #006ea7;
  transition: all 0.2s ease-in-out;
  &:hover {
    border: 1px solid var(--color-light);
    background-color: #f39200;
    color: var(--color-light);
  }
}

.main-header {
  height: 130px;
  box-shadow: 0 0 15px var(--color-primary);

  > * {
    padding: 5 8px;
    max-width: 1400px;
    margin: 0 auto;
    display: inline-table;
  }

  @media (min-width: 450px) {
    padding-top: 5px;
    display: flex;
    height: 100px;
  }
}

.logo {
  display: block;
  margin-bottom: 5px;

  @media (min-width: 450px) {
    width: 210px;
  }
}

.relative {
  position: relative;
  padding: 20px;
}

.image-relative {
  width: 200px;
  width: -webkit-fill-available;

  @media (max-width: 550px) {
  }
}

.absolute-text {
  color: var(--color-primary);
  position: absolute;
  bottom: 0;
  font-size: 24px;
  background: #fbfbfb80;
  padding: 10px 10px;
  width: 100%;
  text-align: center;
  margin: 0 0 45;
}

.absolute {
  color: var(--color-primary);
  position: absolute;
  bottom: 100;
  font-size: 24px;
  background: #fbfbfb80;
  padding: 10 50 10 20;
  width: 100%;
  text-align: center;
}

.experts {
  font-size: 2rem;
  text-align: center;
  padding: 0 15 70;
}

h2.lamina-title {
  position: relative;
  margin-top: 110px;
  font-size: 40px;
}
@-webkit-keyframes shadow-left-right {
  0% {
    left: 0;
  }
  50% {
    left: 25%;
  }
  100% {
    left: 50%;
  }
}
@keyframes shadow-left-right {
  0% {
    left: 0;
  }
  50% {
    left: 25%;
  }
  100% {
    left: 50%;
  }
}

@-webkit-keyframes shadow-right-left {
  0% {
    right: 0%;
  }
  50% {
    right: 17.5%;
  }
  100% {
    right: 35%;
  }
}
@keyframes shadow-right-left {
  0% {
    right: 0%;
  }
  50% {
    right: 17.5%;
  }
  100% {
    right: 35%;
  }
}

h2.lamina-afterbefore:before {
  content: "LÁMINA";
  position: ABSOLUTE;
  z-index: -1;
  top: -50px;
  color: #f0f0f0d1;
  font-size: 85px;
  font-size: 2.3em;

  -webkit-animation: shadow-left-right;
  -webkit-animation-duration: 4s;
  animation: shadow-left-right;
  animation-duration: 4s;
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  /*    transition: all 0.5s ease-in-out;*/
}
h2.lamina-afterbefore:after {
  content: "ARMADA";
  position: ABSOLUTE;
  z-index: -1;
  top: 20px;
  color: #e7eef3d1;
  font-size: 65px;
  text-align: center;
  animation: shadow-right-left;
  animation-duration: 4s;
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  overflow: hidden;

  @media (min-width: 768px) {
    padding: 32px;
  }

  @media (min-width: 1024px) {
    padding: 40px;
  }
}

.bg-circle {
  width: 90vmin;
  height: 90vmin;
  border-radius: 999px;
  background-color: #7209b7;
  background-color: #d1d2e5;
  background-color: var(--yellow);
  position: absolute;
  top: 10%;
  right: 50%;
  opacity: 0.25;
  transform: translate(50%, -50%) scale(0);
  z-index: 0;
  transition: left 500ms, right 500ms, top 500ms, position 500ms,
    transform 500ms 500ms, opacity 500ms 350ms;

  @media (min-width: 577px) {
    width: 75vmin;
    height: 75vmin;
  }
}

.carousel-container {
  display: block;
  width: 100%;
  max-width: 720px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  overflow: auto;
  /* // border: 2px solid #ccc;
  // background-color: #e1e2ef;
  // padding: 20px; */
  border-radius: 20px;
  scrollbar-width: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  &.dragging {
    scroll-behavior: auto;
  }
}

.carousel {
  display: flex;
  width: auto;
  width: fit-content;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;

  .carousel-slide {
    display: flex;
    width: 40px;
    min-width: 40px;
    width: 255px;
    min-width: 176px;
    height: 300px;
    flex-grow: 0;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    transition-property: width, min-width, height, flex, flex-grow, flex-shrink,
      flex-basis, opacity;
    transition-duration: 240ms;

    img,
    .carousel-image {
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
      transition: all 2s;
    }

    .carousel-content {
      display: flex;
      width: 100%;
      max-height: 100%;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      padding: 16px;
      color: #fff;
      backdrop-filter: blur(2px);
      /* transition-property: transform, color, flex, height, flex-basis, opacity; */
      /* transition-duration: 240ms; */
      transition-property: width, height, flex, flex-grow, flex-shrink,
        flex-basis, opacity, transform, backdrop-filter;
      transition-duration: 240ms;
      /* transition-delay: 100ms; */
      /* background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.35)
      ); */
      overflow: hidden;
      border-radius: 0 0 20px 20px;
      z-index: 2;

      .cara {
        font-size: 1.5rem;
        margin: 0;
        color: transparent;
        background-clip: text;
        background-color: #fff;
        transition: all 240ms;
      }

      p {
        display: none;
        font-size: 0.75rem;
        margin-top: 1em;
        line-height: 1.5;
        margin-top: 16px;
        margin-bottom: 0;
        transform: translateY(101%);
        transition-property: width, height, flex, flex-grow, flex-shrink,
          flex-basis, opacity, transform, margin;
        transition-duration: 240ms;
        transition-delay: 50ms;
      }
    }

    &.loaded {
      img,
      .carousel-image {
        opacity: 1;
        transition-delay: 100ms;
      }

      .carousel-content {
        transition-delay: 100ms;
        transform: translateY(0%);

        h2 {
          font-size: 1.5rem;
        }
      }
    }

    &:hover {
      .carousel-content {
        backdrop-filter: blur(15px);
        background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.5)
        );
      }
    }
  }

  &:hover .carousel-slide:not(:hover):not(.active) {
    opacity: 0.5;
  }
}

button.slider-nav {
  display: inline-flex;
  width: 40px;
  height: 40px;
  min-width: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 999px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;

  svg {
    pointer-events: none;
  }

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
}

button.prev {
  left: 0;
  transform: translate(-50%, calc(-50% - 13px));
}

button.next {
  right: 0;
  transform: translate(50%, calc(-50% - 13px));
}

.carousel-scrollbar,
.carousel-scrollbar .scrollbar-track {
  display: flex;
  width: 100%;
  align-items: center;
}

.slider-start {
  button.prev {
    visibility: hidden !important;
    display: none;
  }
}

.slider-end {
  button.next {
    visibility: hidden !important;
  }
}

.carousel-scrollbar {
  margin-top: 16px;
  padding: 4px 0;

  .scrollbar-track {
    border-radius: 999px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .scrollbar-thumb {
    width: 20%;
    height: 100%;
    border-radius: 999px;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    transition: transform 200ms, background-color 200ms, height 200ms;

    &::after {
      content: "";
      display: block;
      height: 16px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &:hover {
      height: 250%;
    }

    &.dragging,
    &.dragging:hover {
      background-color: rgba(0, 0, 0, 1);
      height: 400%;
    }

    &.dragging {
      &::after {
        height: 24px;
      }
    }
  }
}

h2.liner-title {
  position: relative;
  margin-top: 60px;
  font-size: 40px;
}
@-webkit-keyframes shadow-left-right {
  0% {
    left: 0;
  }
  50% {
    left: 25%;
  }
  100% {
    left: 50%;
  }
}
@keyframes shadow-left-right {
  0% {
    left: 0;
  }
  50% {
    left: 25%;
  }
  100% {
    left: 50%;
  }
}

@-webkit-keyframes shadow-right-left {
  0% {
    right: 0%;
  }
  50% {
    right: 17.5%;
  }
  100% {
    right: 35%;
  }
}
@keyframes shadow-right-left {
  0% {
    right: 0%;
  }
  50% {
    right: 17.5%;
  }
  100% {
    right: 35%;
  }
}

h2.liner-afterbefore:before {
  content: "LINER";
  position: ABSOLUTE;
  z-index: -1;
  top: -50px;
  color: #f0f0f0d1;
  font-size: 85px;
  font-size: 2.3em;

  -webkit-animation: shadow-left-right;
  -webkit-animation-duration: 4s;
  animation: shadow-left-right;
  animation-duration: 4s;
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  /*    transition: all 0.5s ease-in-out;*/
}
h2.liner-afterbefore:after {
  content: "LINER";
  position: ABSOLUTE;
  z-index: -1;
  top: 20px;
  color: #e7eef3d1;
  font-size: 65px;
  text-align: center;
  animation: shadow-right-left;
  animation-duration: 4s;
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

h2.proyectos-title {
  position: relative;
  margin-top: 60px;
  font-size: 40px;
}
@-webkit-keyframes shadow-left-right {
  0% {
    left: 0;
  }
  50% {
    left: 25%;
  }
  100% {
    left: 50%;
  }
}
@keyframes shadow-left-right {
  0% {
    left: 0;
  }
  50% {
    left: 25%;
  }
  100% {
    left: 50%;
  }
}

@-webkit-keyframes shadow-right-left {
  0% {
    right: 0%;
  }
  50% {
    right: 17.5%;
  }
  100% {
    right: 35%;
  }
}
@keyframes shadow-right-left {
  0% {
    right: 0%;
  }
  50% {
    right: 17.5%;
  }
  100% {
    right: 35%;
  }
}

h2.proyectos-afterbefore:before {
  content: "PROYECTOS";
  position: ABSOLUTE;
  z-index: -1;
  top: -50px;
  color: #f0f0f0d1;
  font-size: 85px;
  font-size: 2.3em;

  -webkit-animation: shadow-left-right;
  -webkit-animation-duration: 4s;
  animation: shadow-left-right;
  animation-duration: 4s;
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  /*    transition: all 0.5s ease-in-out;*/
}
h2.proyectos-afterbefore:after {
  content: "PROYECTOS";
  position: ABSOLUTE;
  z-index: -1;
  top: 20px;
  color: #e7eef3d1;
  font-size: 65px;
  text-align: center;
  animation: shadow-right-left;
  animation-duration: 4s;
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.form {
  background-color: #32a3f4a3;
  width: -webkit-fill-available;
}

.contacta-form {
  display: flex;
}

.form-label {
  padding: 10px;
}
