:root {
  --color-primary: #302d2d;
  --color-light: #fff;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-family: "Roboto Flex", sans-serif;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font: inherit;
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button {
  padding: 3 5px;

  @media (min-width: 450px) {
    width: 100px;
  }
}

.button--outline {
  margin: 0 5px 0 5px;
  border-radius: 5px;
  border: 0.2px solid #006ea7;
  transition: all 0.2s ease-in-out;
  &:hover {
    border: 1px solid var(--color-light);
    background-color: #f39200;
    color: var(--color-light);
  }
}

.main-header {
  height: 130px;
  box-shadow: 0 0 15px var(--color-primary);

  > * {
    padding: 5 8px;
    max-width: 1400px;
    margin: 0 auto;
    display: inline-table;
  }

  @media (min-width: 450px) {
    padding-top: 5px;
    display: flex;
    height: 100px;
  }
}

.logo {
  display: block;
  margin-bottom: 5px;

  @media (min-width: 450px) {
    width: 210px;
  }
}

.relative {
  position: relative;
  padding: 20px;
}

.image-relative {
  width: 200px;
  width: -webkit-fill-available;

  @media (max-width: 550px) {
  }
}

.absolute-text {
  color: var(--color-primary);
  position: absolute;
  bottom: 0;
  font-size: 24px;
  background: #fbfbfb80;
  padding: 10px 10px;
  width: 100%;
  text-align: center;
  margin: 0 0 45;
}

.absolute {
  color: var(--color-primary);
  position: absolute;
  bottom: 100;
  font-size: 24px;
  background: #fbfbfb80;
  padding: 10 50 10 20;
  width: 100%;
  text-align: center;
}

.experts {
  font-size: 2rem;
  text-align: center;
  padding: 0 15 70;
}

h2.welcome-title {
  position: relative;
  margin-top: 60px;
  font-size: 40px;
}
@-webkit-keyframes shadow-left-right {
  0% {
    left: 0;
  }
  50% {
    left: 25%;
  }
  100% {
    left: 50%;
  }
}
@keyframes shadow-left-right {
  0% {
    left: 0;
  }
  50% {
    left: 25%;
  }
  100% {
    left: 50%;
  }
}

@-webkit-keyframes shadow-right-left {
  0% {
    right: 0%;
  }
  50% {
    right: 17.5%;
  }
  100% {
    right: 35%;
  }
}
@keyframes shadow-right-left {
  0% {
    right: 0%;
  }
  50% {
    right: 17.5%;
  }
  100% {
    right: 35%;
  }
}

h2.welcome-afterbefore:before {
  content: "LÁMINA";
  position: ABSOLUTE;
  z-index: -1;
  top: -50px;
  color: #f0f0f0d1;
  font-size: 85px;
  font-size: 2.3em;

  -webkit-animation: shadow-left-right;
  -webkit-animation-duration: 4s;
  animation: shadow-left-right;
  animation-duration: 4s;
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  /*    transition: all 0.5s ease-in-out;*/
}
h2.welcome-afterbefore:after {
  content: "ARMADA";
  position: ABSOLUTE;
  z-index: -1;
  top: 20px;
  color: #e7eef3d1;
  font-size: 65px;
  text-align: center;
  animation: shadow-right-left;
  animation-duration: 4s;
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
